.project.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }

  transition: transform 200ms;

  &:hover:not(.post) {
    transform: translateY(-4px);
    box-shadow: -2px 8px 20px -12px rgba(0, 0, 0, 0.24);
  }
}

.card-title{
  line-height: 1.5;
}